<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398288943361-1b47ddci1mdhf5mb5hgvve8cru7lmgg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398288943361-1b47ddci1mdhf5mb5hgvve8cru7lmgg4</string>
	<key>API_KEY</key>
	<string>AIzaSyAgtqEcc3KdfMs5fTPIVQoNEC2L2FFJtY4</string>
	<key>GCM_SENDER_ID</key>
	<string>398288943361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rcroom</string>
	<key>PROJECT_ID</key>
	<string>rcroom-69442</string>
	<key>STORAGE_BUCKET</key>
	<string>rcroom-69442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398288943361:ios:552c8159f6810f44734300</string>
</dict>
</plist>